.App {
  text-align: center;
  background-color: #e4e1e1;
  font-family: 'Roboto', sans-serif;
  color: #282c34;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f57e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.std-card-info {
  font-size: small;
  padding: 0px;
  text-align: left;
}

.btn-card {
  font-size: small;
  padding: 2px 5px 2px 5px;
  text-align: left;
}


.btn-list {
  font-size: small;
  padding: 0px 3px 0px 3px;
  text-align: center;
  font-size: small;
}

.list {
  margin: 0px;
  padding: 0px;
}

.list-group-item {
  padding: 5px 2px 5px 2px;
  margin: 0px 0px 0px 0px;
}

.std-card-title {
  font-size: large;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.col-list {
  padding: 0px 0px 2px 3px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.std-card-txlogs {
  font-size: small;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.event-table {
  font-size: small;
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 5px 0px;
}

.infobox {
  text-align: left;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.Address {
  text-align: left;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 1px solid #e4e1e1;
}

.extra-container {
  padding-right: 0px;
  padding-left: 0px;
}

.font-small {
  font-size: small;
}

.NavBar {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.shadowCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
} 

.nav-last-block {
  text-align: left;
  float: left;
  vertical-align: top;
  color: black; 
  size: 5px;
  padding: 0px;
  margin: 0px 10px 0px 10px;
  height: 50px;
  width: 150px;
}