{
    "mongo": "mongodb://mongo:27017",
    "seed":  "SEED_PHRASE",
    "restAPI": "http://127.0.0.1:4321",
    "node": "http://127.0.0.1:8545",
    "chainId": "1",
    "pg": {
        "host": "127.0.0.1",
        "port": 5432,
        "user": "geth",
        "password": "explorer",
        "database": "geth"
    },
    "ApiKeyToken": ""
}